@media (max-width: 991px) {
    #hero {
        text-align: center;
    }

    .hero-title {
        font-size: 2.4rem;
    }

    .hero-buttons {
        justify-content: center;
    }

    .hero-image {
        margin-top: 60px;
    }

    .hero-stats {
        justify-content: center;
    }

    .section-title {
        font-size: 2rem;
    }

    .ecosystem-card {
        padding: 35px 25px;
    }
}

@media (max-width: 768px) {
    .testimonial {
        padding: 35px;
    }
}

@media (max-width: 991px) {
    .contact-box {
        padding: 40px 25px;
    }

    .contact-content {
        text-align: center;

        margin-bottom: 50px;
    }

    .contact-content h2 {
        font-size: 2.2rem;
    }

    .contact-checklist {
        grid-template-columns: 1fr;
    }
}